<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head class="navbar havbar-fixed-top navbar-inverse">
    	<div class="navbar-inner">
    		<%= link_to "FirstApp", "#", id:"logo" %>
    	</div>
    </head>

    <div class="container">
    	<%= yield %>
    	<footer class="footer">
    		<small>
    			<a href="codecamp.io">城市開發工作</a>
    		</small>
    	</footer>
    </div>
  </body>
</html>
